ion-card{
    height: 448px;
    width: 260px;
    margin: 5px;
    text-align: center;
}

.forHeading{
    font-weight: bold;
    color: black;
    border-bottom: 1px solid gainsboro;
}

.forLabel{
    font-weight: bold;
    color: black;
}

ion-label{
    text-align: left;
}

ion-avatar{
    margin-left: 70px;
    margin-top: 7px;
    margin-bottom: 5px;
}

ion-button{
    padding: 5px;
    margin: 10px;
}
